.portfolio {
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profilePic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.heading {
  font-size: 2.5em;
  color: #007acc;
  animation: slideIn 1s ease-in-out;
}

.subheading {
  font-size: 1.5em;
  margin-top: 20px;
  color: #007acc;
  animation: slideIn 1s ease-in-out;
}

.list {
  list-style-type: none;
  padding: 0;
  animation: fadeIn 1s ease-in-out;
}

.experience {
  margin-top: 10px;
  animation: fadeIn 1s ease-in-out;
}

.jobTitle {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #007acc;
  animation: slideIn 1s ease-in-out;
}

.jobDuration {
  margin: 0;
  font-style: italic;
  animation: fadeIn 1s ease-in-out;
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}